.container {
  background-color: aqua;
  width: 100%;
  height: 700px;

}

.entrada {
  width: 100%;
}


.column-izq, .column-center, .column-der{
  float: left;
  margin: 0 auto;
}

.der{
  margin-left: 217px;
}

.izq {
  display: flex;
  flex-direction: column;
}

.column-center{
  display: flex;
  flex-direction: column;
  width: 50%;
}

button{
  margin: 5px;
}

.area {
  resize: none;
}